@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

*:focus {
  outline: none;
}
li {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {
  margin: 0px;
  overflow: hidden;
  background: #202020;
  font-family: sans-serif;
  -youbkit-touch-callout: none; /* iOS Safari */
  -youbkit-user-select: none; /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

audio {
  background-color: #eee;
  border-radius: 15px;
  display: block;
  border: solid 3px #337180;
  padding: 3px;
  height: 30px;
  width: 300px;
  margin: 3px auto;
}

audio.samePerson {
  border: solid 3px #d40000;
}

audio::before {
  content: "ok";
}

.nickName {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  width: fit-content;
  padding: 2px 10px;
  margin-bottom: -6px;
  margin-left: 15px;
  font-size: smaller;
  background: #202020;
  color: #eee;
}

#brand {
  display: block;
  padding: 1vw;
  height: 8vh;
  color: #400e00;
  font-size: 3vh;
  text-align: right;
  background: no-repeat url("./web-talkie-cbmdf.svg") right;
  margin: 0px 15px;
}

#wrapper {
  width: 100vw;
  max-width: 414px;
  margin: auto;
}

#device-case {
  display: block;
  padding: 20px 10px 0px 10px;
  background: rgb(255, 229, 121);
  background: linear-gradient(
    180deg,
    rgba(255, 229, 121, 1) 0%,
    rgba(217, 152, 14, 1) 100%
  );
  -webkit-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
  height: 100vh;
}

#lcd-display {
  font-family: "Share Tech Mono", sans-serif;
  font-size: 18px;
  background-color: #acb5a8;
  border: solid 17px #202020;
  border-radius: 17px;
  width: 80vw;
  max-width: 290px;
  padding: 15px;
  max-zoom: 100%;
  margin: 5px auto;
  -webkit-box-shadow: inset -10px -10px 10px -10px rgba(66, 25, 25, 0.8);
  -moz-box-shadow: inset -10px -10px 10px -10px rgba(66, 25, 25, 0.8);
  box-shadow: inset -10px -10px 10px -10px rgba(66, 25, 25, 0.8);
}

#lcd-display.offline {
  background-color: #ff7c6e;
}

#lcd-display.speaking {
  background-color: #b89bbf;
}

#lcd-display.playing {
  background-color: #abad7d;
}

#status {
  display: block;
  float: right;
}

#record {
  display: block;
  text-align: center;
  padding: 15px 2px 2px 0px;
}

#channel {
  display: block;
  font-size: 180%;
}

.buttons-container {
  margin: auto;
  max-width: 350px;
  border-radius: 20px;
  background: #151515;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

.buttons-container ul {
  list-style: none;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 2px;
  height: 60px;
  width: 100px;
  background: #202020;
  border-top: 1px solid #353535;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
  font-weight: bolder;
}
.buttons-container ul li:nth-of-type(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
div.buttons-container ul li:last-of-type {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
div.buttons-container ul li:hover {
  cursor: pointer;
}
div.buttons-container ul li a {
  display: inline-block;
  color: gray;
  text-decoration: none;
  font-size: 40px;
  transition: all 0.5s;
}

div.buttons-container .active {
  background: #151515;
  border-top: none;
  border-bottom: 1px solid #252525;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.8);
}

div.buttons-container .active-text {
  color: crimson;
  text-shadow: 0 0 15px rgba(220, 10, 10, 0.5);
}

.button-record {
  font-size: 300%;
  text-align: center;
  display: block;
  margin: 15px auto 15px auto;
  padding: 14px;
  width: 350px;
  border: solid 1px #000;
  color: #c0c0c0;
  background: #202020;
  border: 1px solid #353535;
  border-radius: 15px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}
